* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(90deg, #60528a, #778b60, #f4d9d6);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
